.Html {
  background-image: linear-gradient(#00d4ee, #f28dd1);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
}

.Container {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  justify-content: flex-end;
  height: 100%;
}
.Kami {
  background-image: url("Kami.png");
  width: 100%;
  background-position: bottom;
}
.Buttons {
  position: center;
  border: 1px solid white;
  background-color: transparent;
  flex-direction: row;
  border-radius: 50%;
  color: blue;
  height: 32px;
  width: 32px;
  background-image: url("radar.png");
  background-position: center;
  justify-content: center;
}
.Input {
  display: flex;
  flex-direction: row;
  height: 40px;
  border-radius: 10px;
  justify-content: flex-end;
  width: auto;
}
.body {
  background-image: url("Kami.png");
}
.Textbox {
  height: 40px;
  border-radius: 10px;
  height: 30px;
  background: transparent;
  border: transparent;
  padding: transparent;
  text-align: Center;
}

.WeatherId {
  display: flex;
  justify-items: center;
  align-items: center;
  position: center;
  width: 250px;
}
